<#import "/spring.ftl" as spring>
<html>

<h1>My products</h1>
<h2>Hello ${principal.getName()}</h2>

<ul>
    <<#list products as product>
    <li>${product}</li>
</#list>
</ul>

<a href="/logout">Logout</a>

</html>
